body {
	background-color: #aaa;
	color: #fff;
	font-family: sans-serif;
	margin: 0;
}
.active{
	color: orange;
}
.player, table {
	background: linear-gradient(to bottom, #555 0%,#444 100%);
	border: 1px solid #000;
	border-radius: 5px;
	margin: auto;
	padding: .5em;
	position: relative;
	user-select: none;
}
.player{
	width: 500px;
	background: linear-gradient(to bottom, #555 0%,#444 100%);
	padding-top: 110px;
}
tbody tr,.cover{
	cursor: pointer;
}
.play,.pause,.stop,.nxt,.prv,.rwd,.repeat,.shuffle{
	background: linear-gradient(to bottom, #666 0%,#444 100%);
	width: 40px;
	border: 1px solid #000;
	text-align: center;
	display: inline-block;
}
.play,.pause{
	border-radius: 5px 0 0 5px;
}
.repeat{
	border-radius: 0 5px 5px 0;
}
.title {
	position: absolute;
	left: 160px;
	top: 8px;
}
.artist {
	position: absolute;
	left: 160px;
	top: 35px;
}
.lapsed {
	color: lime;
	font-family: monospace;
	cursor: pointer;
}
[hidden] {
	display: none;
}
.warning {
	background: #660;
}
.record{
	background: radial-gradient(ellipse at center, #000 5%,#fff 7%,#fff 21%,#888 22%,#bbb 25%,#bbb 40%,#000 41%,#000 70%,#0000 71%);
	position: absolute;
	left: 62px;
	width: 85px;
	height: 85px;
	top: 13px;
}
.cover{
	position: absolute;
	z-index: 1;
	top: 8px;
}